// app global css in Sass form

.tabColor{
    // background-color: #87ffaf
    // background-color: #2aa369
    // background-color: #00203fff
}

.roleSelect{
    width: 250px;
    background-color: white;
    // 00203fff
    // adefd1ff
}

.wAdminHeader{
    background-color: $wAdminPrimary
}
